.search {
  background-color: whitesmoke;
  width: 600px;
  margin: auto;
}

@media only screen and (min-width: 1400px) {
  .search {
    width: 50%;
  }

}

@media only screen and (max-width: 1399px) and (min-width: 750px) {
  .search {
    width: 75%;
  }

}

@media only screen and (max-width: 749px) {
  .search {
    width: 75%;
  }

}